.venv
data
.gitignore
cogs/__pycache__
.vscode
cogs/bronx/__pycache__
cogs/misc/__pycache__
cogs/unique/__pycache__
cogs/unique/__pycache__/Economy.cpython-312.pyc
utils/__pycache__/db.cpython-312.pyc
