[Unit]
Description=Bronxbot Flask Application
After=network.target

[Service]
User=ks
Group=ks
WorkingDirectory=/home/ks/Desktop/bronxbot
Environment="PYTHONPATH=/home/ks/Desktop/bronxbot"
Environment="FLASK_APP=app.py"
Environment="FLASK_ENV=production"
ExecStart=/usr/bin/python3 /home/ks/Desktop/bronxbot/bronxbot.py
Restart=always

[Install]
WantedBy=multi-user.target
