[Unit]
Description=BronxBot Web Interface
After=network.target

[Service]
User=ks
Group=ks
WorkingDirectory=/home/ks/Desktop/bronxbot
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/bin/python3 -m gunicorn -w 4 -b 0.0.0.0:8000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
